body{
    margin: 0;
    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#logo{
    position: absolute;
    left: 0px;
    top: 20px;
    z-index: 1;
    width: 446px;
    height:60px;
}


.socialicon_footer{
    z-index: 3;
    margin-top: 30px;
    padding: 30px 0;
 
  position: absolute;
    position: fixed;
    top:900px;
    left: 812px;
    display: inline-block;
    margin: 0 8px;
    
    
    
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%,-50%);
Transform:translate(-50%,-50%);

}




#nav {
    position:fixed;
    z-index: 3;
	width:97%;
    margin-top: 35px;
	float: right;
	padding: 3;
	list-style: none; 
    font-size:15px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
#nav li {
	float: right; 
    padding: .2em 1em;
    text-decoration: none;
}

a:link{
  text-decoration: none;
  color:#EDECEC;

}

a:visited {
color:#EDECEC;
	text-decoration: none;

}

a:hover{
    color: #A7D500;
	text-decoration: none;
}


#facebook_p{
    z-index: 3;
    position: absolute;
    left: 330px;
    top: 1600px;
}


#twitter_p{
    z-index: 3;
    position: absolute;
    left: 360px;
    top: 1600px;
}


#linkedin_p{
    z-index: 5;
    position: absolute;
    left: 390px;
    top: 1600px;
}


.commercial{
    position: absolute;
    top:200px;
}

.residential{
    position: absolute;
    top:890px;
}


.Hospitality{
    position: absolute;
    top:1540px;
    left:10px;
}


.planning{
    position: absolute;
    top:2185px;
    left:-25px;
}


.preservation{
    position: absolute;
    top:2818px;
    left: 50px;
}


.div1{
    background-color: aqua;
    width: 980px;
    height:3033px;
    margin: 0 auto;
}

.comp-ij4hkyzzimgimage{
    position: absolute;
    top: 388px;
    left:353px;
}

.popup2{
    z-index: 3''
}
        